{
    "SMTPUsername": "sender@mydomain.com",
    "SMTPPassword": "mypassword",
    "SMTPServer":   "smtp.mydomain.com",
    "SiteDomain":   "mydomain.com",
    "SiteName":     "MyDomain"
    "CSRF_Key":     "my-random-32-bytes"
}
